* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #333;
}

textarea{
    background-color: #202020;
    min-height: min-content;
    
    max-width: max-content;
    max-height: max-content;
}