* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #333;
}

textarea{
    background-color: #202020;
    color: white;
    border-radius: 0;
    border: 1px solid rgba(245, 222, 179, 0)55, 255, 255);
}