html, body{
    padding: 0;
    margin: 0;
    background-color: #333;
    color: white
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 15px 15px;
    background-image: url("../assets/img/terminal.png");
    width: 65px;
    height: 65px;
}