html, body{
    padding: 0;
    margin: 0;
    background-color: #333;
    color: white
}

nav ul li{
    list-style: none;
}

nav ul li a{
    position: ;
    text-decoration: none;
    color: white;
    padding: 15px 15px;
    margin: 5px;
    border: 1px solid black;
    background-image: url("../assets/img/terminal.png");
}