body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1E1E1E; 
    font-family: 'Ubuntu Mono', 'Courier New', monospace; 
}

#terminal-window {
    background-color: #300A24; 
    color: #FFFFFF;           
    font-family: 'Ubuntu Mono', 'Courier New', monospace; 
    font-size: 14px;
    padding: 15px;
    border-radius: 8px;       
    width: 100vw;             
    height: 100vh;            
    overflow-y: auto;         
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    box-sizing: border-box;
}

#terminal-output {
    margin: 0;
    white-space: pre-wrap; 
    word-wrap: break-word;
    height: calc(100% - 25px); 
    overflow: hidden;        
}

#command-line {
    display: flex; 
    margin-top: 5px;
    align-items: center;
}

#prompt {
    color: #4CAF50; 
    margin-right: 5px;
    white-space: nowrap; 
}

#command-input {
    flex-grow: 1;             
    background: transparent;  
    color: #FFFFFF;           
    border: none;             
    outline: none;            
    font-family: inherit;     
    font-size: inherit;
    caret-color: #FFFFFF;     
    padding: 0;               
}